@model IEnumerable<project.Models.Category>

@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>

<p>
    <a asp-action="Add" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @* <a  asp-action="Add" asp-route-id="@item.Id">Edit</a> *@
                    @if (ViewBag.IsAdmin)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>