
@{
    ViewData["Title"] = "Login";
}

<body>
    <div class="wrapper">
        <div class="login_box">
            <div class="login-header">
                <span>Login</span>
            </div>

            <div class="input_box">
                <input type="text" id="user" class="input-field" required>
                <label for="user" class="label">UserName</label>
                <i class="bx bx-user icon"></i>
            </div>

            <div class="input_box">
                <input type="password" id="pass" class="input-field" required>
                <label for="pass" class="label">Password</label>
                <i class="bx bx-lock-alt icon"></i>
            </div>

            <div class="remember-forgot">
                <div class="remember-me">
                    <input type="checkbox" id="remember">
                    <label for="remember">Remember me</label>
                </div>

                <div class="forgot">
                    <a href="#">Forgot Password?</a>
                </div>
            </div>

            <div class="input_box">
                <input type="submit" class="input-submit" value="login">
            </div>

            <div class="register">
                <span>Don't have account? <a href="#" Register></a></span>
            </div>
        </div>
    </div>
</body>

