@model List<project.Models.Category>

<select class="input-select">
    <option value="0">All Categories</option>
    @foreach (var category in Model)
    {
        <option value="1">@category.Name</option>
    }
</select>
