@page
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Forgot Password";
    Layout = null;
}

<link type="text/css" rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="/assets/css/style.css" />

<h2>@ViewData["Title"]</h2>
<div id="container" class="container">
    <div class="form-container sign-in-container">
        <form asp-page-handler="ForgotPassword" method="post" class="form">
            <h1>Forgot your password?</h1>
            <p>Please enter your email address. We will send you a link to reset your password.</p>
            <div class="form-group">
                <input asp-for="Input.Email" type="email" placeholder="Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn">Send Reset Link</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
        </div>
    </div>
</div>

<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/main.js"></script>
