@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = null;
}

<!-- #region import css -->
<link type="text/css" rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="~/assets/css/slick.css" />
<link type="text/css" rel="stylesheet" href="~/assets/css/slick-theme.css" />
<link type="text/css" rel="stylesheet" href="~/assets/css/nouislider.min.css" />
<link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="~/assets/css/style.css" />
<!-- #endregion -->

<div id="container" class="container" style="margin: -100px 0 50px;!important">
    <div class="form-container sign-in-container">
        <form method="post">
            <h1>Check your mail</h1>
            <div asp-validation-summary="All" class="text-danger"></div>
            <p>
                Please check your email to reset your password.
            </p>
        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button id="signUp" class="ghost">Sign Up</button>
                <script>
                    document.getElementById('signUp').addEventListener('click', function () {
                        window.location.href = '/Identity/Account/Register';
                    });
                </script>
            </div>
        </div>
    </div>
</div>

